{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<p class="text-center pv">SIGNUP TO GET INSTANT ACCESS.</p>

<form method="post" class="mb-lg" role="form" data-parsley-validate="" novalidate="">
  {% csrf_token %}
   <div class="form-group has-feedback">
      <label class="text-muted" for="signupInputEmail1">Username</label>
      <p>{{ form.username }}</p>

   </div>

   <div class="form-group has-feedback">
      <label class="text-muted" for="signupInputPassword1">Password</label>
      <p>{{ form.password }}</p>

   </div>

   <div class="clearfix">
      <div class="checkbox c-checkbox pull-left mt0">
         <label>
            <input type="checkbox" value="" required name="agreed">
            <span class="fa fa-check"></span>I agree with the <a href="#">terms</a>
         </label>
      </div>
   </div>
   <input class="btn btn-block btn-primary" type="submit" value="{% trans 'Log in' %}" />
   <input type="hidden" name="next" value="{{ next }}" />
</form>
<br>
<p class="text-center">{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
<p class="text-center">{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
</div>
</div>
<form method="post" action="">

</form>



{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
